* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .pic img {
  width: 200px;
  margin-left: 300px;
  padding-bottom: 20px;
}

.main .pic {
}

.name {
  display: flex;
  flex: 4;
  background-color: #fecb00;
  padding-top: 20px;
  padding-left: 70px;
}

.main .blank {
  flex: 0.962;
  width: 100%;
}

.main .name h1 {
  font-size: 2em;
  margin-left: -10px;
  padding-top: 20px;
}

.name h3 {
  margin-top: 20px;
}

.logo {
  display: flex;
  margin-top: 20px;
}
.logo i {
  margin-right: 10px;
  padding-top: 12px;
}

/* ===================================================== */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container .blank {
  flex: 1;
}

.container .about {
  background-color: #e28743;
  overflow: hidden;
  flex: 2;
  padding: 20px 50px;
}

.about h1 {
  font-size: 2.2em;
  margin-bottom: 15px;
  margin-top: 20px;
}

.about ul,
p {
  margin-top: 10px;
  margin-bottom: 8px;
}

.container .skills {
  background-color: #eab676;
  overflow: hidden;
  flex: 2;
  /* padding: 20px 50px; */
}

.skills h1 {
  font-size: 2.2em;
  margin-bottom: 15px;
  margin-top: 30px;
  margin-left: 50px;
}
.skills ul {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 70px;
}

.skills p {
  margin-left: 50px;
  margin-right: 10px;
}
