<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <title>PAKISTAN ARMY</title>
  </head>
  <body>
    <div id="navbar">
      <div class="menu">
        <ul>
          <li>
            <a href=""> <b>INTRODUCTION</b> </a>
          </li>
          <li>
            <a href=""><b> ARMY CHIEF </b></a>
          </li>
          <li>
            <a href=""><b> FIGHTING AND SUPPORTING ARMS</b></a>
          </li>
        </ul>
      </div>
      <div class="logo">
        <img src="Pakistan_Army_Emblem.png" alt="Logo" />
        <a href=""><b> PAKISTAN ARMY </b></a>
      </div>
    </div>

    <div class="image">
      <img src="focus img/bg-war.jpg" alt="ssg" />
      <h1>S W I F T , S I L E N T , D E A D L Y</h1>

      <div class="circle-image">
        <div class="image1">
          <img src="focus img/arm-imag1.jpg" alt="Iman" />
        </div>
        <div class="image2">
          <img src="focus img/taqwa2.jpg" alt="Taqwa" />
        </div>
        <div class="image3">
          <img src="focus img/jihad121.jpg" alt="Jihad" />
        </div>
      </div>
    </div>

    <div id="focus">
      <div class="focus-img1">
        <h2>IMAAN</h2>
        <img src="focus img/248 corps commander.png" alt="" />
        <a href="">248 Corps Commander's Conference</a>
      </div>
      <div class="focus-img2">
        <h2>TAQWA</h2>
        <img src="focus img/political-map-of-pakistan-thumb.jpg" alt="" />
        <a href="">New Political Map Of Pakistan</a>
      </div>
      <div class="focus-img3">
        <h2>JIHAD</h2>
        <img src="focus img/story-of-pakistan-thumb.jpg" alt="" />
        <a href="">Story Of Pakistan</a>
      </div>
    </div>

    <div id="imp-info">
      <h1>I M P O R T A N T - I N F O R M A T I O N</h1>
      <div class="info-img">
        <div class="info-img1">
          <img src="imp info img/fighting-supporting.png" alt="" />
          <a href="">FIGHTING & SUPPORTING ARMS</a>
        </div>
        <div>
          <img src="imp info img/Nisha-e-hyder.jpg" alt="" />
          <a href="">MARTYRS</a>
        </div>
        <div>
          <img src="imp info img/war history.png" alt="" />
          <a href="">WAR HISTORY</a>
        </div>
        <div class="info-img4">
          <img src="imp info img/nation-building.png" alt="" />
          <a href="">NATION BUILDING</a>
        </div>
        <div>
          <img src="imp info img/Training.png" alt="" />
          <a href="">TRAINING</a>
        </div>
      </div>
    </div>

    <div id="gallery">
      <h1>P H O T O - G A L L E R Y</h1>
      <div class="photos">
        <img src="Gallery img/Army4.png" alt="" />
        <img src="Gallery img/Shaheen-3-good.jpg" alt="" />
        <img src="Gallery img/army5.png" alt="" />
      </div>
    </div>

    <div id="links">
      <div class="link-text">
        <h1>EXTERNAL LINKS</h1>
        <a href=""><b> JOIN PAKISTAN ARMY</b> </a>
      </div>
      <div class="link-logo">
        <a href=""><img src="logo links/ispr.png" alt="" /></a>
        <a href=""><img src="logo links/PAF.png" alt="" /></a>
        <a href=""><img src="logo links/navy.png" alt="" /></a>
        <a href=""><img src="logo links/PAK-GOVT.png" alt="" /></a>
        <a href=""><img src="logo links/COMMAND&STAFF.png" alt="" /></a>
        <a href=""><img src="logo links/fwo.png" alt="" /></a>
        <a href=""><img src="logo links/NDU.png" alt="" /></a>
        <a href=""><img src="logo links/NUST.png" alt="" /></a>
        <a href=""><img src="logo links/join.png" alt="" /></a>
      </div>
    </div>

    <div id="footer">
      <a class="home" href="">Home | </a>
      <a href=""> About Us | </a>
      <a href=""> Contact Us | </a>
      <a href=""> Disclaimer </a>
      <p>Pakistan Army Web Portal - Copyright &copy; 2009-2022</p>
    </div>
  </body>
</html>
